* {
    box-sizing: border-box;
}
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;}
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  .responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  img:hover {
    box-shadow: 0 0 5px 5px rgba(45, 250, 3, 0.5);
  }

    h1 {

      color: rgb(72, 80, 87);
      font-size: 50pt;

    }
.footer-copyright {

    background-color: rgb(31, 35, 37);
    margin-top: 20px;
}
